* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
button,
input {
  border: none;
  outline: none;
}
p {
  line-height: 1.8 !important;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid--3 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 4rem;
}

.section-title {
  font-size: 2.5rem;
  text-align: center;
  border-width: 2px 1rem;
  border-color: var(--blue);
  border-style: solid;
  width: fit-content;
  padding: 0.5rem 7rem;
  margin: 0 auto 3rem;
  background-color: white;
}

section {
  padding: 5rem var(--side-padding);
}
